# Project exclude paths
/project/project/target/
/project/target/

/target/scala-2.13/classes/
/target/


/logs/*
/out/*
/postgres_data/*

/.bloop
/.bsp
.idea/artifacts/spark_scala_stocks_jar.xml
.idea/aws.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/libraries/Apache_Spark_Console_auto_fix___jline_jline_2_14_5.xml
.idea/libraries/Apache_Spark_Console_auto_fix___org_apache_spark_spark_repl_2_13_3_5_0_jar.xml
.idea/libraries/sbt__com_clearspring_analytics_stream_2_9_6_jar.xml
.idea/libraries/sbt__com_esotericsoftware_kryo_shaded_4_0_2_jar.xml
.idea/libraries/sbt__com_esotericsoftware_minlog_1_3_0_jar.xml
.idea/libraries/sbt__com_fasterxml_jackson_core_jackson_annotations_2_15_2_jar.xml
.idea/libraries/sbt__com_fasterxml_jackson_core_jackson_core_2_15_2_jar.xml
.idea/libraries/sbt__com_fasterxml_jackson_core_jackson_databind_2_15_2_jar.xml
.idea/libraries/sbt__com_fasterxml_jackson_datatype_jackson_datatype_jsr310_2_15_1_jar.xml
.idea/libraries/sbt__com_fasterxml_jackson_module_jackson_module_scala_2_13_2_15_2_jar.xml
.idea/libraries/sbt__com_github_luben_zstd_jni_1_5_5_4_jar.xml
.idea/libraries/sbt__com_google_code_findbugs_jsr305_3_0_2_jar.xml
.idea/libraries/sbt__com_google_code_gson_gson_2_10_1_jar.xml
.idea/libraries/sbt__com_google_crypto_tink_tink_1_9_0_jar.xml
.idea/libraries/sbt__com_google_flatbuffers_flatbuffers_java_1_12_0_jar.xml
.idea/libraries/sbt__com_google_guava_guava_16_0_1_jar.xml
.idea/libraries/sbt__com_google_protobuf_protobuf_java_3_19_6_jar.xml
.idea/libraries/sbt__com_ning_compress_lzf_1_1_2_jar.xml
.idea/libraries/sbt__com_thoughtworks_paranamer_paranamer_2_8_jar.xml
.idea/libraries/sbt__com_twitter_chill_2_13_0_10_0_jar.xml
.idea/libraries/sbt__com_twitter_chill_java_0_10_0_jar.xml
.idea/libraries/sbt__com_univocity_univocity_parsers_2_9_1_jar.xml
.idea/libraries/sbt__commons_codec_commons_codec_1_16_0_jar.xml
.idea/libraries/sbt__commons_collections_commons_collections_3_2_2_jar.xml
.idea/libraries/sbt__commons_io_commons_io_2_13_0_jar.xml
.idea/libraries/sbt__commons_logging_commons_logging_1_1_3_jar.xml
.idea/libraries/sbt__io_airlift_aircompressor_0_25_jar.xml
.idea/libraries/sbt__io_dropwizard_metrics_metrics_core_4_2_19_jar.xml
.idea/libraries/sbt__io_dropwizard_metrics_metrics_graphite_4_2_19_jar.xml
.idea/libraries/sbt__io_dropwizard_metrics_metrics_jmx_4_2_19_jar.xml
.idea/libraries/sbt__io_dropwizard_metrics_metrics_json_4_2_19_jar.xml
.idea/libraries/sbt__io_dropwizard_metrics_metrics_jvm_4_2_19_jar.xml
.idea/libraries/sbt__io_netty_netty_all_4_1_96_Final_jar.xml
.idea/libraries/sbt__io_netty_netty_buffer_4_1_96_Final_jar.xml
.idea/libraries/sbt__io_netty_netty_codec_4_1_96_Final_jar.xml
.idea/libraries/sbt__io_netty_netty_codec_http2_4_1_96_Final_jar.xml
.idea/libraries/sbt__io_netty_netty_codec_http_4_1_96_Final_jar.xml
.idea/libraries/sbt__io_netty_netty_codec_socks_4_1_96_Final_jar.xml
.idea/libraries/sbt__io_netty_netty_common_4_1_96_Final_jar.xml
.idea/libraries/sbt__io_netty_netty_handler_4_1_96_Final_jar.xml
.idea/libraries/sbt__io_netty_netty_handler_proxy_4_1_96_Final_jar.xml
.idea/libraries/sbt__io_netty_netty_resolver_4_1_96_Final_jar.xml
.idea/libraries/sbt__io_netty_netty_transport_4_1_96_Final_jar.xml
.idea/libraries/sbt__io_netty_netty_transport_classes_epoll_4_1_96_Final_jar.xml
.idea/libraries/sbt__io_netty_netty_transport_classes_kqueue_4_1_96_Final_jar.xml
.idea/libraries/sbt__io_netty_netty_transport_native_epoll_4_1_96_Final_jar.xml
.idea/libraries/sbt__io_netty_netty_transport_native_epoll_4_1_96_Final_linux_aarch_64_jar.xml
.idea/libraries/sbt__io_netty_netty_transport_native_epoll_4_1_96_Final_linux_x86_64_jar.xml
.idea/libraries/sbt__io_netty_netty_transport_native_kqueue_4_1_96_Final_osx_aarch_64_jar.xml
.idea/libraries/sbt__io_netty_netty_transport_native_kqueue_4_1_96_Final_osx_x86_64_jar.xml
.idea/libraries/sbt__io_netty_netty_transport_native_unix_common_4_1_96_Final_jar.xml
.idea/libraries/sbt__jakarta_annotation_jakarta_annotation_api_1_3_5_jar.xml
.idea/libraries/sbt__jakarta_servlet_jakarta_servlet_api_4_0_3_jar.xml
.idea/libraries/sbt__jakarta_validation_jakarta_validation_api_2_0_2_jar.xml
.idea/libraries/sbt__jakarta_ws_rs_jakarta_ws_rs_api_2_1_6_jar.xml
.idea/libraries/sbt__javax_activation_activation_1_1_1_jar.xml
.idea/libraries/sbt__joda_time_joda_time_2_12_5_jar.xml
.idea/libraries/sbt__net_razorvine_pickle_1_3_jar.xml
.idea/libraries/sbt__net_sf_py4j_py4j_0_10_9_7_jar.xml
.idea/libraries/sbt__org_antlr_antlr4_runtime_4_9_3_jar.xml
.idea/libraries/sbt__org_apache_arrow_arrow_format_12_0_1_jar.xml
.idea/libraries/sbt__org_apache_arrow_arrow_memory_core_12_0_1_jar.xml
.idea/libraries/sbt__org_apache_arrow_arrow_memory_netty_12_0_1_jar.xml
.idea/libraries/sbt__org_apache_arrow_arrow_vector_12_0_1_jar.xml
.idea/libraries/sbt__org_apache_avro_avro_1_11_2_jar.xml
.idea/libraries/sbt__org_apache_avro_avro_ipc_1_11_2_jar.xml
.idea/libraries/sbt__org_apache_avro_avro_mapred_1_11_2_jar.xml
.idea/libraries/sbt__org_apache_commons_commons_collections4_4_4_jar.xml
.idea/libraries/sbt__org_apache_commons_commons_compress_1_23_0_jar.xml
.idea/libraries/sbt__org_apache_commons_commons_crypto_1_1_0_jar.xml
.idea/libraries/sbt__org_apache_commons_commons_lang3_3_12_0_jar.xml
.idea/libraries/sbt__org_apache_commons_commons_math3_3_6_1_jar.xml
.idea/libraries/sbt__org_apache_commons_commons_text_1_10_0_jar.xml
.idea/libraries/sbt__org_apache_curator_curator_client_2_13_0_jar.xml
.idea/libraries/sbt__org_apache_curator_curator_framework_2_13_0_jar.xml
.idea/libraries/sbt__org_apache_curator_curator_recipes_2_13_0_jar.xml
.idea/libraries/sbt__org_apache_datasketches_datasketches_java_3_3_0_jar.xml
.idea/libraries/sbt__org_apache_datasketches_datasketches_memory_2_1_0_jar.xml
.idea/libraries/sbt__org_apache_hadoop_hadoop_client_api_3_3_4_jar.xml
.idea/libraries/sbt__org_apache_hadoop_hadoop_client_runtime_3_3_4_jar.xml
.idea/libraries/sbt__org_apache_hive_hive_storage_api_2_8_1_jar.xml
.idea/libraries/sbt__org_apache_ivy_ivy_2_5_1_jar.xml
.idea/libraries/sbt__org_apache_logging_log4j_log4j_1_2_api_2_20_0_jar.xml
.idea/libraries/sbt__org_apache_logging_log4j_log4j_api_2_23_1_jar.xml
.idea/libraries/sbt__org_apache_logging_log4j_log4j_core_2_23_1_jar.xml
.idea/libraries/sbt__org_apache_logging_log4j_log4j_slf4j2_impl_2_20_0_jar.xml
.idea/libraries/sbt__org_apache_orc_orc_core_1_9_2_shaded_protobuf_jar.xml
.idea/libraries/sbt__org_apache_orc_orc_mapreduce_1_9_2_shaded_protobuf_jar.xml
.idea/libraries/sbt__org_apache_orc_orc_shims_1_9_2_jar.xml
.idea/libraries/sbt__org_apache_parquet_parquet_column_1_13_1_jar.xml
.idea/libraries/sbt__org_apache_parquet_parquet_common_1_13_1_jar.xml
.idea/libraries/sbt__org_apache_parquet_parquet_encoding_1_13_1_jar.xml
.idea/libraries/sbt__org_apache_parquet_parquet_format_structures_1_13_1_jar.xml
.idea/libraries/sbt__org_apache_parquet_parquet_hadoop_1_13_1_jar.xml
.idea/libraries/sbt__org_apache_parquet_parquet_jackson_1_13_1_jar.xml
.idea/libraries/sbt__org_apache_spark_spark_catalyst_2_13_3_5_1_jar.xml
.idea/libraries/sbt__org_apache_spark_spark_common_utils_2_13_3_5_1_jar.xml
.idea/libraries/sbt__org_apache_spark_spark_core_2_13_3_5_1_jar.xml
.idea/libraries/sbt__org_apache_spark_spark_kvstore_2_13_3_5_1_jar.xml
.idea/libraries/sbt__org_apache_spark_spark_launcher_2_13_3_5_1_jar.xml
.idea/libraries/sbt__org_apache_spark_spark_network_common_2_13_3_5_1_jar.xml
.idea/libraries/sbt__org_apache_spark_spark_network_shuffle_2_13_3_5_1_jar.xml
.idea/libraries/sbt__org_apache_spark_spark_sketch_2_13_3_5_1_jar.xml
.idea/libraries/sbt__org_apache_spark_spark_sql_2_13_3_5_1_jar.xml
.idea/libraries/sbt__org_apache_spark_spark_sql_api_2_13_3_5_1_jar.xml
.idea/libraries/sbt__org_apache_spark_spark_tags_2_13_3_5_1_jar.xml
.idea/libraries/sbt__org_apache_spark_spark_unsafe_2_13_3_5_1_jar.xml
.idea/libraries/sbt__org_apache_xbean_xbean_asm9_shaded_4_23_jar.xml
.idea/libraries/sbt__org_apache_yetus_audience_annotations_0_13_0_jar.xml
.idea/libraries/sbt__org_apache_zookeeper_zookeeper_3_6_3_jar.xml
.idea/libraries/sbt__org_apache_zookeeper_zookeeper_jute_3_6_3_jar.xml
.idea/libraries/sbt__org_codehaus_janino_commons_compiler_3_1_9_jar.xml
.idea/libraries/sbt__org_codehaus_janino_janino_3_1_9_jar.xml
.idea/libraries/sbt__org_fusesource_leveldbjni_leveldbjni_all_1_8_jar.xml
.idea/libraries/sbt__org_glassfish_hk2_external_aopalliance_repackaged_2_6_1_jar.xml
.idea/libraries/sbt__org_glassfish_hk2_external_jakarta_inject_2_6_1_jar.xml
.idea/libraries/sbt__org_glassfish_hk2_hk2_api_2_6_1_jar.xml
.idea/libraries/sbt__org_glassfish_hk2_hk2_locator_2_6_1_jar.xml
.idea/libraries/sbt__org_glassfish_hk2_hk2_utils_2_6_1_jar.xml
.idea/libraries/sbt__org_glassfish_hk2_osgi_resource_locator_1_0_3_jar.xml
.idea/libraries/sbt__org_glassfish_jersey_containers_jersey_container_servlet_2_40_jar.xml
.idea/libraries/sbt__org_glassfish_jersey_containers_jersey_container_servlet_core_2_40_jar.xml
.idea/libraries/sbt__org_glassfish_jersey_core_jersey_client_2_40_jar.xml
.idea/libraries/sbt__org_glassfish_jersey_core_jersey_common_2_40_jar.xml
.idea/libraries/sbt__org_glassfish_jersey_core_jersey_server_2_40_jar.xml
.idea/libraries/sbt__org_glassfish_jersey_inject_jersey_hk2_2_40_jar.xml
.idea/libraries/sbt__org_javassist_javassist_3_29_2_GA_jar.xml
.idea/libraries/sbt__org_jetbrains_annotations_17_0_0_jar.xml
.idea/libraries/sbt__org_jmockit_jmockit_1_49_jar.xml
.idea/libraries/sbt__org_json4s_json4s_ast_2_13_3_7_0_M11_jar.xml
.idea/libraries/sbt__org_json4s_json4s_core_2_13_3_7_0_M11_jar.xml
.idea/libraries/sbt__org_json4s_json4s_jackson_2_13_3_7_0_M11_jar.xml
.idea/libraries/sbt__org_json4s_json4s_scalap_2_13_3_7_0_M11_jar.xml
.idea/libraries/sbt__org_lz4_lz4_java_1_8_0_jar.xml
.idea/libraries/sbt__org_objenesis_objenesis_2_5_1_jar.xml
.idea/libraries/sbt__org_roaringbitmap_RoaringBitmap_0_9_45_jar.xml
.idea/libraries/sbt__org_roaringbitmap_shims_0_9_45_jar.xml
.idea/libraries/sbt__org_rocksdb_rocksdbjni_8_3_2_jar.xml
.idea/libraries/sbt__org_scala_lang_modules_scala_parallel_collections_2_13_1_0_4_jar.xml
.idea/libraries/sbt__org_scala_lang_modules_scala_parser_combinators_2_13_2_3_0_jar.xml
.idea/libraries/sbt__org_scala_lang_modules_scala_xml_2_13_2_1_0_jar.xml
.idea/libraries/sbt__org_scala_lang_scala_library_2_13_12_jar.xml
.idea/libraries/sbt__org_scala_lang_scala_reflect_2_13_12_jar.xml
.idea/libraries/sbt__org_slf4j_jcl_over_slf4j_2_0_7_jar.xml
.idea/libraries/sbt__org_slf4j_jul_to_slf4j_2_0_7_jar.xml
.idea/libraries/sbt__org_slf4j_slf4j_api_2_0_7_jar.xml
.idea/libraries/sbt__org_threeten_threeten_extra_1_7_1_jar.xml
.idea/libraries/sbt__org_tukaani_xz_1_9_jar.xml
.idea/libraries/sbt__org_xerial_snappy_snappy_java_1_1_10_3_jar.xml
.idea/libraries/sbt__oro_oro_2_0_8_jar.xml
.idea/libraries/sbt__scala_sdk_2_13_12.xml
.idea/material_theme_project_new.xml
.idea/misc.xml
.idea/modules.xml
.idea/modules/spark-scala-stocks.iml
.idea/modules/spark-scala-stocks.spark-scala-stocks-build.iml
.idea/runConfigurations/_Apache_Spark_on_HDInsight__StocksEntrypoint.xml
.idea/sbt.xml
.idea/scala_compiler.xml
.idea/scala_settings.xml
.idea/uiDesigner.xml
.idea/vcs.xml
project/.bloop/bloop.settings.json
project/.bloop/spark-scala-stocks-build.json
project/build.properties
project/META-INF/MANIFEST.MF
project/project/metals.sbt
project/project/project/target/config-classes/$6428b6ff27611644a3e2$.class
project/project/project/target/config-classes/$6428b6ff27611644a3e2.cache
project/project/project/target/config-classes/$6428b6ff27611644a3e2.class
src/main/scala/META-INF/MANIFEST.MF
