# Project exclude paths
/project/project/target/
/project/target/

/target/scala-2.13/classes/
/target/


/logs/*
/out/*
/postgres_data/*

/.bloop
/.bsp
/.idea
/.metals
project/.bloop/bloop.settings.json
project/.bloop/spark-scala-stocks-build.json
project/build.properties
project/META-INF/MANIFEST.MF
project/project/metals.sbt
project/project/project/target/config-classes/$6428b6ff27611644a3e2$.class
project/project/project/target/config-classes/$6428b6ff27611644a3e2.cache
project/project/project/target/config-classes/$6428b6ff27611644a3e2.class
src/main/scala/META-INF/MANIFEST.MF
